@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: #eff6ff;
  overflow: hidden;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 32;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.4;
}

.background span:nth-child(0) {
  color: #3ca9fd;
  top: 66%;
  left: 75%;
  animation-duration: 152s;
  animation-delay: -114s;
  transform-origin: 1vw -7vh;
  box-shadow: 100vmin 0 13.298382535284379vmin currentColor;
}
.background span:nth-child(1) {
  color: #3ca9fd;
  top: 8%;
  left: 27%;
  animation-duration: 105s;
  animation-delay: -108s;
  transform-origin: -13vw 5vh;
  box-shadow: -100vmin 0 12.697294309560986vmin currentColor;
}
.background span:nth-child(2) {
  color: #3ca9fd;
  top: 4%;
  left: 72%;
  animation-duration: 127s;
  animation-delay: -7s;
  transform-origin: -19vw -2vh;
  box-shadow: 100vmin 0 13.431816639872633vmin currentColor;
}
.background span:nth-child(3) {
  color: #3ca9fd;
  top: 33%;
  left: 73%;
  animation-duration: 16s;
  animation-delay: -47s;
  transform-origin: -4vw 16vh;
  box-shadow: -100vmin 0 12.509858695407617vmin currentColor;
}
.background span:nth-child(4) {
  color: #3ca9fd;
  top: 54%;
  left: 3%;
  animation-duration: 80s;
  animation-delay: -29s;
  transform-origin: 17vw 23vh;
  box-shadow: 100vmin 0 12.879776984833196vmin currentColor;
}
.background span:nth-child(5) {
  color: #3ca9fd;
  top: 1%;
  left: 10%;
  animation-duration: 176s;
  animation-delay: -36s;
  transform-origin: 3vw -8vh;
  box-shadow: 100vmin 0 12.557446576723619vmin currentColor;
}
.background span:nth-child(6) {
  color: #3ca9fd;
  top: 100%;
  left: 24%;
  animation-duration: 148s;
  animation-delay: -115s;
  transform-origin: 12vw 24vh;
  box-shadow: 100vmin 0 12.607053439610743vmin currentColor;
}
.background span:nth-child(7) {
  color: #3ca9fd;
  top: 23%;
  left: 96%;
  animation-duration: 21s;
  animation-delay: -92s;
  transform-origin: 5vw 22vh;
  box-shadow: 100vmin 0 12.692761216732503vmin currentColor;
}
.background span:nth-child(8) {
  color: #3ca9fd;
  top: 38%;
  left: 93%;
  animation-duration: 106s;
  animation-delay: -35s;
  transform-origin: 14vw 6vh;
  box-shadow: 100vmin 0 13.375027625325309vmin currentColor;
}
