@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@layer components {
  .disable-blur {
    image-rendering: -webkit-optimize-contrast;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
body * {
  @apply transition-colors duration-500;
}
